<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.SpringTodoList.repository.TodoMapper">

	<!-- BASE_SQL -->
	<sql id="todoColumns">
		SELECT
		t.id AS id,
		t.registration_date AS registrationDate,
		t.expiration_date AS expirationDate,
		t.finished_date AS finishedDate,
		t.todo_item AS todoItem,
		t.is_deleted AS isDeleted,
		t.finished_date AS finishedDate,
		t.created_at AS createdAt,
		t.updated_at AS updateAat,
		u.displayname AS displayname
		FROM
		todos t
		JOIN
		users u ON t.user_id = u.id
	</sql>

	<!-- 全件取得 -->
	<select id="findAll"
		resultType="com.example.SpringTodoList.entity.Todo">

		<include refid="todoColumns" />

		WHERE t.is_deleted=0
		ORDER BY
		t.expiration_date ASC,
		t.id DESC;
	</select>
	<!-- Id検索 -->
	<select id="findById"
		resultType="com.example.SpringTodoList.entity.Todo">

		<include refid="todoColumns" />

		WHERE t.is_deleted=0
		AND t.id = #{id}

		ORDER BY
		t.expiration_date ASC,
		t.id DESC;
	</select>
	<!-- キーワード検索 -->
	<select id="findByKey"
		resultType="com.example.SpringTodoList.entity.Todo">

		<include refid="todoColumns" />

		WHERE t.is_deleted=0
		AND t.todo_item LIKE CONCAT('%', #{key}, '%')
		ORDER BY t.expiration_date ASC,
		t.id ASC;
	</select>
	<insert id="insert">
		INSERT INTO todos (
		user_id,
		registration_date,
		expiration_date,
		finished_date,
		todo_item,
		created_at,
		updated_at
		) VALUES (
		#{userId},
		#{todo.registrationDate},
		#{todo.expirationDate},
		#{todo.finishedDate},
		#{todo.todoItem},
		CURRENT_TIMESTAMP,
		CURRENT_TIMESTAMP
		);

	</insert>
	<update id="update">
		UPDATE todos
		SET
		registration_date = #{registrationDate},
		expiration_date = #{expirationDate},
		finished_date = #{finishedDate},
		todo_item = #{todoItem},
		is_deleted = #{isDeleted},
		updated_at = CURRENT_TIMESTAMP
		WHERE
		id = #{id};
	</update>
	<delete id="delete">
		DELETE FROM todos WHERE id = #{id}
	</delete>
</mapper>