<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/todos">TodoList</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						<span th:text="${#authentication.principal.displayname}"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item"
								th:href="@{/users/edit/{id}(id=${#authentication.principal.id})}">ユーザー情報更新</a></li>
						<li>
							<form th:action="@{/logout}" method="post" id="logoutForm"></form>
							<a 	class="dropdown-item" href="#"
								onclick="document.getElementById('logoutForm').submit(); return false;">ログアウト</a>
						</li>
					</ul>
				</li>
			</ul>
			<form class="d-flex" role="search" th:action="@{/todos/key}" method="get">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="key">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>