<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{include/head.html}"></th:block>

<body>
	<div class="container-md">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h2 th:text="${title}"></h2>
					</div>
					<div class="card-body">
						<form th:action="@{/users/save}" th:object="${userRegisterForm}" method="post">
							<div class="mb-3">
								<label for="InputEmail" class="form-label">Emailアドレス</label>
								<input type="text" class="form-control" th:field="*{username}">
								<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
									style="color: red;"></span>
							</div>
							<div class="mb-3">
								<label for="InputPassword1" class="form-label">パスワード</label>
								<input type="password" class="form-control" th:field="*{password}">
								<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
									style="color: red;"></span>
							</div>
							<div class="mb-3">
								<label for="InputDisplayname" class="form-label">表示名</label>
								<input type="text" class="form-control" th:field="*{displayname}">
								<span th:if="${#fields.hasErrors('displayname')}" th:errors="*{displayname}"
									style="color: red;"></span>
							</div>
							<button type="submit" class="btn btn-primary">登録</button>
						</form>
						<a th:href="@{/login}">戻る</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>